.scroller {
	box-sizing: border-box;
	overflow: hidden;
 
	overflow-x: auto;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	scroll-behavior: smooth;
 
	white-space: nowrap;
}
.scroller::-webkit-scrollbar {
	display: none;
}
.content {
	max-width: calc(100vw - 20rem);
}

.list-wrapper::-webkit-scrollbar {
	display: none;
}

#okno {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 120%;
    z-index: 10;
    width: 100%;
    padding: 0px 60px;
	padding-bottom: 20px;
	display: none;
}
